<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moon.mapper.JournalsMapper">
    <resultMap type="com.moon.model.entity.Journals" id="JournalsResult">
        <result property="id"    column="id"    />
        <result property="content"    column="content"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="likes"    column="likes"    />
    </resultMap>

    <sql id="selectJournalsVo">
        select id, content, create_time, update_time, likes, from journals
    </sql>

    <!--查询单个-->
        <select id="selectJournalsById" parameterType="Integer" resultMap="JournalsResult">
            <include refid="selectJournalsVo"/>
            where id = #{id}
        </select>

    <!--查询列表-->
    <select id="selectJournalsList" parameterType="Journals" resultMap="JournalsResult">
        <include refid="selectJournalsVo"/>
        <where>
            <if test="id != null "> and id = #{id}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
            <if test="likes != null "> and likes = #{likes}</if>
        </where>
    </select>

    <!--新增-->
    <insert id="insertJournals" parameterType="Journals" useGeneratedKeys="true" keyProperty="id">
        insert into journals
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="content != null  and content != ''">content,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="likes != null ">likes,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="content != null  and content != ''">#{content},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="likes != null ">#{likes},</if>
        </trim>
    </insert>

    <!--修改-->
    <update id="updateJournals" parameterType="Journals">
        update journals
        <trim prefix="SET" suffixOverrides=",">
            <if test="content != null  and content != ''">content = #{content},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="likes != null ">likes = #{likes},</if>
        </trim>
        where id = #{id}
    </update>

    <!--删除-->
    <delete id="deleteJournalsById" parameterType="Integer">
        delete from journals where id = #{id}
    </delete>

    <!--批量删除-->
    <delete id="deleteJournalsByIds" parameterType="String">
        delete from journals where id in
        <foreach item="${pkColumn.javaField}" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>