<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moon.mapper.PhotoOtherCategoriesMapper">
    <resultMap type="com.moon.model.entity.PhotoOtherCategories" id="PhotoOtherCategoriesResult">
        <result property="id"    column="id"    />
        <result property="photoId"    column="photo_id"    />
        <result property="otherId"    column="other_id"    />
        <result property="type"    column="type"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectPhotoOtherCategoriesVo">
        select id, photo_id, other_id, type, create_time, update_time, from photo_other_categories
    </sql>

    <!--查询单个-->
    <select id="selectPhotoOtherCategoriesById" parameterType="Integer" resultMap="PhotoOtherCategoriesResult">
        <include refid="selectPhotoOtherCategoriesVo"/>
        where id = #{id}
    </select>

    <!--查询列表-->
    <select id="selectPhotoOtherCategoriesList" parameterType="PhotoOtherCategories" resultMap="PhotoOtherCategoriesResult">
        <include refid="selectPhotoOtherCategoriesVo"/>
        <where>
            <if test="id != null "> and id = #{id}</if>
            <if test="photoId != null "> and photo_id = #{photoId}</if>
            <if test="otherId != null "> and other_id = #{otherId}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
        </where>
    </select>

    <!--新增-->
    <insert id="insertPhotoOtherCategories" parameterType="PhotoOtherCategories" useGeneratedKeys="true" keyProperty="id">
        insert into photo_other_categories
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="photoId != null ">photo_id,</if>
            <if test="otherId != null ">other_id,</if>
            <if test="type != null ">type,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="photoId != null ">#{photoId},</if>
            <if test="otherId != null ">#{otherId},</if>
            <if test="type != null ">#{type},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
        </trim>
    </insert>

    <!--修改-->
    <update id="updatePhotoOtherCategories" parameterType="PhotoOtherCategories">
        update photo_other_categories
        <trim prefix="SET" suffixOverrides=",">
            <if test="photoId != null ">photo_id = #{photoId},</if>
            <if test="otherId != null ">other_id = #{otherId},</if>
            <if test="type != null ">type = #{type},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <!--删除-->
    <delete id="deletePhotoOtherCategoriesById" parameterType="Integer">
        delete from photo_other_categories where id = #{id}
    </delete>

    <!--批量删除-->
    <delete id="deletePhotoOtherCategoriesByIds" parameterType="String">
        delete from photo_other_categories where id in
        <foreach item="${pkColumn.javaField}" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>