<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moon.mapper.PostsMapper">
    <resultMap type="com.moon.model.entity.Posts" id="PostsResult">
        <result property="createTime"    column="create_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="disallowComment"    column="disallow_comment"    />
        <result property="editTime"    column="edit_time"    />
        <result property="editorType"    column="editor_type"    />
        <result property="exportPriority"    column="export_priority"    />
        <result property="exportTitle"    column="export_title"    />
        <result property="formatContent"    column="format_content"    />
        <result property="id"    column="id"    />
        <result property="likes"    column="likes"    />
        <result property="metaDescription"    column="meta_description"    />
        <result property="metaKeywords"    column="meta_keywords"    />
        <result property="originalContent"    column="original_content"    />
        <result property="password"    column="password"    />
        <result property="priority"    column="priority"    />
        <result property="showContent"    column="show_content"    />
        <result property="status"    column="status"    />
        <result property="title"    column="title"    />
        <result property="topFlag"    column="top_flag"    />
        <result property="topPriority"    column="top_priority"    />
        <result property="updateTime"    column="update_time"    />
        <result property="visits"    column="visits"    />
        <association property="category" javaType="com.moon.model.entity.Categories" >
            <result property="name"    column="c_name"    />
            <result property="id"    column="c_id"    />
        </association>
        <association property="attachment" javaType="com.moon.model.entity.Attachments">
            <result property="url"    column="a_url"    />
            <result property="name"    column="a_name"    />
        </association>
        <association property="tag" javaType="com.moon.model.entity.Tags">
            <result property="id"    column="t_id"    />
            <result property="name"    column="t_name"    />
            <result property="priority"    column="pt_priority"  />
        </association>
        <association property="comments" javaType="com.moon.model.entity.Comments">
            <result property="count"    column="comments_count"    />
        </association>
    </resultMap>

    <sql id="selectPostsVo">
        select create_time, del_flag, disallow_comment, edit_time, editor_type, export_priority, export_title, format_content, id, likes, meta_description, meta_keywords, original_content, password, priority, show_content, status, title, top_flag, top_priority, update_time, visits from posts
    </sql>

    <!--查询单个-->
    <select id="selectPostsById" parameterType="Integer" resultMap="PostsResult">
        <include refid="selectPostsVo"/>
        where id = #{id}
    </select>

    <!--查询列表-->
    <select id="selectPostsList" parameterType="com.moon.model.entity.Posts" resultMap="PostsResult">
        <include refid="selectPostsVo"/>
        <where>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="delFlag != null "> and del_flag = #{delFlag}</if>
            <if test="disallowComment != null "> and disallow_comment = #{disallowComment}</if>
            <if test="editTime != null "> and edit_time = #{editTime}</if>
            <if test="editorType != null "> and editor_type = #{editorType}</if>
            <if test="exportPriority != null "> and export_priority = #{exportPriority}</if>
            <if test="exportTitle != null  and exportTitle != ''"> and export_title = #{exportTitle}</if>
            <if test="formatContent != null  and formatContent != ''"> and format_content = #{formatContent}</if>
            <if test="id != null "> and id = #{id}</if>
            <if test="likes != null "> and likes = #{likes}</if>
            <if test="metaDescription != null  and metaDescription != ''"> and meta_description = #{metaDescription}</if>
            <if test="metaKeywords != null  and metaKeywords != ''"> and meta_keywords = #{metaKeywords}</if>
            <if test="originalContent != null  and originalContent != ''"> and original_content = #{originalContent}</if>
            <if test="password != null  and password != ''"> and password = #{password}</if>
            <if test="priority != null "> and priority = #{priority}</if>
            <if test="showContent != null  and showContent != ''"> and show_content = #{showContent}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="topFlag != null "> and top_flag = #{topFlag}</if>
            <if test="topPriority != null "> and top_priority = #{topPriority}</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
            <if test="visits != null "> and visits = #{visits}</if>
        </where>
    </select>

    <!--新增-->
    <insert id="insertPosts" parameterType="com.moon.model.entity.Posts" useGeneratedKeys="true" keyProperty="id">
        insert into posts
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null ">create_time,</if>
            <if test="delFlag != null ">del_flag,</if>
            <if test="disallowComment != null ">disallow_comment,</if>
            <if test="editTime != null ">edit_time,</if>
            <if test="editorType != null ">editor_type,</if>
            <if test="exportPriority != null ">export_priority,</if>
            <if test="exportTitle != null  and exportTitle != ''">export_title,</if>
            <if test="formatContent != null  and formatContent != ''">format_content,</if>
            <if test="likes != null ">likes,</if>
            <if test="metaDescription != null  and metaDescription != ''">meta_description,</if>
            <if test="metaKeywords != null  and metaKeywords != ''">meta_keywords,</if>
            <if test="originalContent != null  and originalContent != ''">original_content,</if>
            <if test="password != null  and password != ''">password,</if>
            <if test="priority != null ">priority,</if>
            <if test="showContent != null  and showContent != ''">show_content,</if>
            <if test="status != null ">status,</if>
            <if test="title != null  and title != ''">title,</if>
            <if test="topFlag != null ">top_flag,</if>
            <if test="topPriority != null ">top_priority,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="visits != null ">visits,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null ">#{createTime},</if>
            <if test="delFlag != null ">#{delFlag},</if>
            <if test="disallowComment != null ">#{disallowComment},</if>
            <if test="editTime != null ">#{editTime},</if>
            <if test="editorType != null ">#{editorType},</if>
            <if test="exportPriority != null ">#{exportPriority},</if>
            <if test="exportTitle != null  and exportTitle != ''">#{exportTitle},</if>
            <if test="formatContent != null  and formatContent != ''">#{formatContent},</if>
            <if test="likes != null ">#{likes},</if>
            <if test="metaDescription != null  and metaDescription != ''">#{metaDescription},</if>
            <if test="metaKeywords != null  and metaKeywords != ''">#{metaKeywords},</if>
            <if test="originalContent != null  and originalContent != ''">#{originalContent},</if>
            <if test="password != null  and password != ''">#{password},</if>
            <if test="priority != null ">#{priority},</if>
            <if test="showContent != null  and showContent != ''">#{showContent},</if>
            <if test="status != null ">#{status},</if>
            <if test="title != null  and title != ''">#{title},</if>
            <if test="topFlag != null ">#{topFlag},</if>
            <if test="topPriority != null ">#{topPriority},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="visits != null ">#{visits},</if>
        </trim>
    </insert>

    <!--修改-->
    <update id="updatePosts" parameterType="com.moon.model.entity.Posts">
        update posts
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="delFlag != null ">del_flag = #{delFlag},</if>
            <if test="disallowComment != null ">disallow_comment = #{disallowComment},</if>
            <if test="editTime != null ">edit_time = #{editTime},</if>
            <if test="editorType != null ">editor_type = #{editorType},</if>
            <if test="exportPriority != null ">export_priority = #{exportPriority},</if>
            <if test="exportTitle != null  and exportTitle != ''">export_title = #{exportTitle},</if>
            <if test="formatContent != null  and formatContent != ''">format_content = #{formatContent},</if>
            <if test="likes != null ">likes = #{likes},</if>
            <if test="metaDescription != null  and metaDescription != ''">meta_description = #{metaDescription},</if>
            <if test="metaKeywords != null  and metaKeywords != ''">meta_keywords = #{metaKeywords},</if>
            <if test="originalContent != null  and originalContent != ''">original_content = #{originalContent},</if>
            <if test="password != null  and password != ''">password = #{password},</if>
            <if test="priority != null ">priority = #{priority},</if>
            <if test="showContent != null  and showContent != ''">show_content = #{showContent},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="title != null  and title != ''">title = #{title},</if>
            <if test="topFlag != null ">top_flag = #{topFlag},</if>
            <if test="topPriority != null ">top_priority = #{topPriority},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="visits != null ">visits = #{visits},</if>
        </trim>
        where id = #{id}
    </update>

    <!--删除-->
    <delete id="deletePostsById" parameterType="Integer">
        delete from posts where id = #{id}
    </delete>

    <!--批量删除-->
    <delete id="deletePostsByIds" parameterType="String">
        delete from posts where id in
        <foreach item="${pkColumn.javaField}" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>



    <select id="selectIndexPosts" resultMap="PostsResult">
        SELECT
            mm.*,
            t.id t_id,
            t.NAME t_name,
            cms.comments_count
        FROM
            (
        SELECT
            p.id,
            p.format_content,
            p.show_content,
            p.likes,
            p.priority,
            p.meta_description,
            p.meta_keywords,
            p.title,
            p.top_flag,
            p.top_priority,
            p.create_time,
            c.id c_id,
            c.NAME c_name,
            a.NAME a_name,
            a.url a_url
        FROM
            `posts` p
            LEFT JOIN posts_categories pc ON pc.post_id = p.id
            LEFT JOIN categories c ON pc.category_id = c.id
            LEFT JOIN attachments_posts ap ON ap.post_id = p.id
            LEFT JOIN attachments a ON a.id = ap.attachment_id
        WHERE
            p.del_flag = 0
            AND p.STATUS = 0
            ) mm
            LEFT JOIN ( SELECT max( pt.priority ) pptt, pt.post_id FROM posts_tags pt GROUP BY pt.post_id ) pts ON pts.post_id = mm.id
            LEFT JOIN posts_tags pt ON pt.post_id = pts.post_id
            AND pt.priority = pts.pptt
            LEFT JOIN tags t ON pt.tag_id = t.id
            LEFT JOIN ( SELECT count( 1 ) comments_count, cs.post_id FROM comments cs WHERE cs.del_flag = 0 GROUP BY cs.post_id ) cms ON cms.post_id = mm.id
        ORDER BY
            mm.top_flag DESC,
            mm.top_priority DESC,
            mm.create_time DESC
    </select>


    <select id="selectSimplePostsList" resultMap="PostsResult">
        SELECT
            p.id,
            p.create_time,
            p.title
        FROM
            posts p
    </select>

</mapper>