<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moon.mapper.PostsCategoriesMapper">
    <resultMap type="com.moon.model.entity.PostsCategories" id="PostsCategoriesResult">
        <result property="categoryId"    column="category_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="id"    column="id"    />
        <result property="postId"    column="post_id"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectPostsCategoriesVo">
        select category_id, create_time, id, post_id, update_time from posts_categories
    </sql>

    <!--查询单个-->
    <select id="selectPostsCategoriesById" parameterType="Integer" resultMap="PostsCategoriesResult">
        <include refid="selectPostsCategoriesVo"/>
        where id = #{id}
    </select>

    <!--查询列表-->
    <select id="selectPostsCategoriesList" parameterType="com.moon.model.entity.PostsCategories" resultMap="PostsCategoriesResult">
        <include refid="selectPostsCategoriesVo"/>
        <where>
            <if test="categoryId != null "> and category_id = #{categoryId}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="id != null "> and id = #{id}</if>
            <if test="postId != null "> and post_id = #{postId}</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
        </where>
    </select>

    <!--新增-->
    <insert id="insertPostsCategories" parameterType="com.moon.model.entity.PostsCategories" useGeneratedKeys="true" keyProperty="id">
        insert into posts_categories
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryId != null ">category_id,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="postId != null ">post_id,</if>
            <if test="updateTime != null ">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryId != null ">#{categoryId},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="postId != null ">#{postId},</if>
            <if test="updateTime != null ">#{updateTime},</if>
        </trim>
    </insert>

    <!--修改-->
    <update id="updatePostsCategories" parameterType="com.moon.model.entity.PostsCategories">
        update posts_categories
        <trim prefix="SET" suffixOverrides=",">
            <if test="categoryId != null ">category_id = #{categoryId},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="postId != null ">post_id = #{postId},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <!--删除-->
    <delete id="deletePostsCategoriesById" parameterType="Integer">
        delete from posts_categories where id = #{id}
    </delete>

    <!--批量删除-->
    <delete id="deletePostsCategoriesByIds" parameterType="String">
        delete from posts_categories where id in
        <foreach item="${pkColumn.javaField}" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>