<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moon.mapper.PostTagsMapper">
    <resultMap type="com.moon.model.entity.PostTags" id="PostTagsResult">
        <result property="id"    column="id"    />
        <result property="postId"    column="post_id"    />
        <result property="tagId"    column="tag_id"    />
        <result property="priority"    column="priority"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectPostTagsVo">
        select id, post_id, tag_id, priority, create_time, update_time, from post_tags
    </sql>

    <!--查询单个-->
        <select id="selectPostTagsById" parameterType="Integer" resultMap="PostTagsResult">
            <include refid="selectPostTagsVo"/>
            where id = #{id}
        </select>

    <!--查询列表-->
    <select id="selectPostTagsList" parameterType="PostTags" resultMap="PostTagsResult">
        <include refid="selectPostTagsVo"/>
        <where>
            <if test="id != null "> and id = #{id}</if>
            <if test="postId != null "> and post_id = #{postId}</if>
            <if test="tagId != null "> and tag_id = #{tagId}</if>
            <if test="priority != null "> and priority = #{priority}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
        </where>
    </select>

    <!--新增-->
    <insert id="insertPostTags" parameterType="PostTags" useGeneratedKeys="true" keyProperty="id">
        insert into post_tags
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="postId != null ">post_id,</if>
            <if test="tagId != null ">tag_id,</if>
            <if test="priority != null ">priority,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="postId != null ">#{postId},</if>
            <if test="tagId != null ">#{tagId},</if>
            <if test="priority != null ">#{priority},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
        </trim>
    </insert>

    <!--修改-->
    <update id="updatePostTags" parameterType="PostTags">
        update post_tags
        <trim prefix="SET" suffixOverrides=",">
            <if test="postId != null ">post_id = #{postId},</if>
            <if test="tagId != null ">tag_id = #{tagId},</if>
            <if test="priority != null ">priority = #{priority},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <!--删除-->
    <delete id="deletePostTagsById" parameterType="Integer">
        delete from post_tags where id = #{id}
    </delete>

    <!--批量删除-->
    <delete id="deletePostTagsByIds" parameterType="String">
        delete from post_tags where id in
        <foreach item="${pkColumn.javaField}" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>