<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moon.mapper.PostsMapper">
    <resultMap type="com.moon.model.entity.Posts" id="PostsResult">
        <result property="id"    column="id"    />
        <result property="formatContent"    column="format_content"    />
        <result property="originalContent"    column="original_content"    />
        <result property="likes"    column="likes"    />
        <result property="metaDescription"    column="meta_description"    />
        <result property="metaKeywords"    column="meta_keywords"    />
        <result property="password"    column="password"    />
        <result property="title"    column="title"    />
        <result property="exportTitle"    column="export_title"    />
        <result property="exportPriority"    column="export_priority"    />
        <result property="visits"    column="visits"    />
        <result property="topFlag"    column="top_flag"    />
        <result property="topPriority"    column="top_priority"    />
        <result property="editorType"    column="editor_type"    />
        <result property="disallowComment"    column="disallow_comment"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="editTime"    column="edit_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectPostsVo">
        select id, format_content, original_content, likes, meta_description, meta_keywords, password, title, export_title, export_priority, visits, top_flag, top_priority, editor_type, disallow_comment, status, del_flag, edit_time, create_time, update_time, from posts
    </sql>

    <!--查询单个-->
        <select id="selectPostsById" parameterType="Integer" resultMap="PostsResult">
            <include refid="selectPostsVo"/>
            where id = #{id}
        </select>

    <!--查询列表-->
    <select id="selectPostsList" parameterType="Posts" resultMap="PostsResult">
        <include refid="selectPostsVo"/>
        <where>
            <if test="id != null "> and id = #{id}</if>
            <if test="formatContent != null  and formatContent != ''"> and format_content = #{formatContent}</if>
            <if test="originalContent != null  and originalContent != ''"> and original_content = #{originalContent}</if>
            <if test="likes != null "> and likes = #{likes}</if>
            <if test="metaDescription != null  and metaDescription != ''"> and meta_description = #{metaDescription}</if>
            <if test="metaKeywords != null  and metaKeywords != ''"> and meta_keywords = #{metaKeywords}</if>
            <if test="password != null  and password != ''"> and password = #{password}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="exportTitle != null  and exportTitle != ''"> and export_title = #{exportTitle}</if>
            <if test="exportPriority != null "> and export_priority = #{exportPriority}</if>
            <if test="visits != null "> and visits = #{visits}</if>
            <if test="topFlag != null "> and top_flag = #{topFlag}</if>
            <if test="topPriority != null "> and top_priority = #{topPriority}</if>
            <if test="editorType != null "> and editor_type = #{editorType}</if>
            <if test="disallowComment != null "> and disallow_comment = #{disallowComment}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="delFlag != null "> and del_flag = #{delFlag}</if>
            <if test="editTime != null "> and edit_time = #{editTime}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
        </where>
    </select>

    <!--新增-->
    <insert id="insertPosts" parameterType="Posts" useGeneratedKeys="true" keyProperty="id">
        insert into posts
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="formatContent != null  and formatContent != ''">format_content,</if>
            <if test="originalContent != null  and originalContent != ''">original_content,</if>
            <if test="likes != null ">likes,</if>
            <if test="metaDescription != null  and metaDescription != ''">meta_description,</if>
            <if test="metaKeywords != null  and metaKeywords != ''">meta_keywords,</if>
            <if test="password != null  and password != ''">password,</if>
            <if test="title != null  and title != ''">title,</if>
            <if test="exportTitle != null  and exportTitle != ''">export_title,</if>
            <if test="exportPriority != null ">export_priority,</if>
            <if test="visits != null ">visits,</if>
            <if test="topFlag != null ">top_flag,</if>
            <if test="topPriority != null ">top_priority,</if>
            <if test="editorType != null ">editor_type,</if>
            <if test="disallowComment != null ">disallow_comment,</if>
            <if test="status != null ">status,</if>
            <if test="delFlag != null ">del_flag,</if>
            <if test="editTime != null ">edit_time,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="formatContent != null  and formatContent != ''">#{formatContent},</if>
            <if test="originalContent != null  and originalContent != ''">#{originalContent},</if>
            <if test="likes != null ">#{likes},</if>
            <if test="metaDescription != null  and metaDescription != ''">#{metaDescription},</if>
            <if test="metaKeywords != null  and metaKeywords != ''">#{metaKeywords},</if>
            <if test="password != null  and password != ''">#{password},</if>
            <if test="title != null  and title != ''">#{title},</if>
            <if test="exportTitle != null  and exportTitle != ''">#{exportTitle},</if>
            <if test="exportPriority != null ">#{exportPriority},</if>
            <if test="visits != null ">#{visits},</if>
            <if test="topFlag != null ">#{topFlag},</if>
            <if test="topPriority != null ">#{topPriority},</if>
            <if test="editorType != null ">#{editorType},</if>
            <if test="disallowComment != null ">#{disallowComment},</if>
            <if test="status != null ">#{status},</if>
            <if test="delFlag != null ">#{delFlag},</if>
            <if test="editTime != null ">#{editTime},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
        </trim>
    </insert>

    <!--修改-->
    <update id="updatePosts" parameterType="Posts">
        update posts
        <trim prefix="SET" suffixOverrides=",">
            <if test="formatContent != null  and formatContent != ''">format_content = #{formatContent},</if>
            <if test="originalContent != null  and originalContent != ''">original_content = #{originalContent},</if>
            <if test="likes != null ">likes = #{likes},</if>
            <if test="metaDescription != null  and metaDescription != ''">meta_description = #{metaDescription},</if>
            <if test="metaKeywords != null  and metaKeywords != ''">meta_keywords = #{metaKeywords},</if>
            <if test="password != null  and password != ''">password = #{password},</if>
            <if test="title != null  and title != ''">title = #{title},</if>
            <if test="exportTitle != null  and exportTitle != ''">export_title = #{exportTitle},</if>
            <if test="exportPriority != null ">export_priority = #{exportPriority},</if>
            <if test="visits != null ">visits = #{visits},</if>
            <if test="topFlag != null ">top_flag = #{topFlag},</if>
            <if test="topPriority != null ">top_priority = #{topPriority},</if>
            <if test="editorType != null ">editor_type = #{editorType},</if>
            <if test="disallowComment != null ">disallow_comment = #{disallowComment},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="delFlag != null ">del_flag = #{delFlag},</if>
            <if test="editTime != null ">edit_time = #{editTime},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <!--删除-->
    <delete id="deletePostsById" parameterType="Integer">
        delete from posts where id = #{id}
    </delete>

    <!--批量删除-->
    <delete id="deletePostsByIds" parameterType="String">
        delete from posts where id in
        <foreach item="${pkColumn.javaField}" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>