<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moon.mapper.UsersMapper">
    <resultMap type="com.moon.model.entity.Users" id="UsersResult">
        <result property="id"    column="id"    />
        <result property="avatar"    column="avatar"    />
        <result property="description"    column="description"    />
        <result property="email"    column="email"    />
        <result property="expireTime"    column="expire_time"    />
        <result property="nickname"    column="nickname"    />
        <result property="password"    column="password"    />
        <result property="username"    column="username"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectUsersVo">
        select id, avatar, description, email, expire_time, nickname, password, username, create_time, update_time, from users
    </sql>

    <!--查询单个-->
    <select id="selectUsersById" parameterType="Integer" resultMap="UsersResult">
        <include refid="selectUsersVo"/>
        where id = #{id}
    </select>

    <!--查询列表-->
    <select id="selectUsersList" parameterType="Users" resultMap="UsersResult">
        <include refid="selectUsersVo"/>
        <where>
            <if test="id != null "> and id = #{id}</if>
            <if test="avatar != null  and avatar != ''"> and avatar = #{avatar}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="expireTime != null "> and expire_time = #{expireTime}</if>
            <if test="nickname != null  and nickname != ''"> and nickname = #{nickname}</if>
            <if test="password != null  and password != ''"> and password = #{password}</if>
            <if test="username != null  and username != ''"> and username = #{username}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
        </where>
    </select>

    <!--新增-->
    <insert id="insertUsers" parameterType="Users" useGeneratedKeys="true" keyProperty="id">
        insert into users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="avatar != null  and avatar != ''">avatar,</if>
            <if test="description != null  and description != ''">description,</if>
            <if test="email != null  and email != ''">email,</if>
            <if test="expireTime != null ">expire_time,</if>
            <if test="nickname != null  and nickname != ''">nickname,</if>
            <if test="password != null  and password != ''">password,</if>
            <if test="username != null  and username != ''">username,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="avatar != null  and avatar != ''">#{avatar},</if>
            <if test="description != null  and description != ''">#{description},</if>
            <if test="email != null  and email != ''">#{email},</if>
            <if test="expireTime != null ">#{expireTime},</if>
            <if test="nickname != null  and nickname != ''">#{nickname},</if>
            <if test="password != null  and password != ''">#{password},</if>
            <if test="username != null  and username != ''">#{username},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
        </trim>
    </insert>

    <!--修改-->
    <update id="updateUsers" parameterType="Users">
        update users
        <trim prefix="SET" suffixOverrides=",">
            <if test="avatar != null  and avatar != ''">avatar = #{avatar},</if>
            <if test="description != null  and description != ''">description = #{description},</if>
            <if test="email != null  and email != ''">email = #{email},</if>
            <if test="expireTime != null ">expire_time = #{expireTime},</if>
            <if test="nickname != null  and nickname != ''">nickname = #{nickname},</if>
            <if test="password != null  and password != ''">password = #{password},</if>
            <if test="username != null  and username != ''">username = #{username},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <!--删除-->
    <delete id="deleteUsersById" parameterType="Integer">
        delete from users where id = #{id}
    </delete>

    <!--批量删除-->
    <delete id="deleteUsersByIds" parameterType="String">
        delete from users where id in
        <foreach item="${pkColumn.javaField}" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>